<div class="main-div">
  <mat-card class="example-card">
    <mat-card-title>Speeches by {{userName}}</mat-card-title>
    <!-- <ul> -->
      <div *ngFor="let speech of speeches">
        <div *ngIf="userName == speech.user">
          <h2>{{ speech.name }}</h2>
          <div *ngFor="let recording of recordings; let i = index">
            <div *ngIf="speech._id == recording.speech">
              <h3>Recording {{i+1}}</h3>
              <p>Presentation Length: {{recording.duration}}</p>
              <p>Words per Minute: {{recording.filler}}</p>
              <p>Word Count: {{recording.wordCount}}</p>
            </div>
          </div>
        </div>
      </div>
    <p>Words Per Minute per Recording</p>
    <!-- </ul> -->
    <div class="col-md-6">
      <canvas baseChart
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [legend]="lineChartLegend"
                  [options]="lineChartOptions"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div class="col-md-12 text-center" style="margin-top: 10px;height: 50%">
      <button mat-raised-button (click)="randomizeType()" style="display: inline-block">
        {{lineChartType == "bar" ? "Bar" : "Line"}}
      </button>
    </div>
</mat-card>
</div>