.example-form {
  min-width: 150px;
  width: auto;
}

.example-full-width {
  width: auto;
}

.example-card {
  width: 50%;
  margin: 10px auto;
}

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}